/* Structural Styles */
html{
    background-color: hsla(59, 21%, 61%, 0.562);
    }
  body{
    background-color:brown);
   
      }
  header{
    background-color: brown;
        }
  p{
    margin: 0px;
    padding: 5px 25px 25px 25px;
   }
  body > p {
    text-align: center;
    font-size: 1.1em;
   }
/* Navigation Styles */
nav a{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
     }
  nav a:link, nav:visited{
    color: white;
    text-decoration: none;
    background-color:brown;
  }
  nav a:hover, nav a:active{
    color: white;
    background-color:brown;
  }
