/*
   Author: Jewelianna Henson
   Date: 05.01.20 
   Filename: layout.css
*/
html{
  background-color: rgb (70, 130, 180);
  /*M4LO4 Demonstrate the use of gradients (CSS)*/
  background-image: linear-gradient(to bottom right, darkcyan, MediumTurquoise, paleturquoise);
  }
  body{
      text-align: center;
      background: linear-gradient(to bottom darkcyan cadetblue paleturquoise);
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: medium;
      /*M4LO3 Demonstrate the use of rounded corners for borders*/
      border-radius: 20px;
  }
  header{
      text-align: center;
      font-size: larger; 
      padding: background-image ;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  p{
    margin: 0em;
    padding: 5px 25px 25px 25px;
  }
  body > p {
    text-align: left;
    font-size: 1.1em;
    header: 1; color:darkcyan;
  }
  /* Navigation List Styles */
  nav {
    display: table;
    width: 100%;
    text-align: center;
  }
  
  nav > ul {
    display: table-row;
    text-align: center;
  }
  
  nav > ul > li {
      display: table-cell;
      text-align: center;
  }
  
  nav > ul > li > a {
    display: block;
    text-align: center;  
  }
  
  header > ol > li > a {
    text-align: center;
  }
  /* Section Styles */
  
  section {
      clear: right;
  }
  
  /* Definition List Styles */
  dl {
      /*M3LO2 Demonstrate Floating Elements*/
      float: right;
      width: 40%;
      margin: 0 0 0 4%;
  }
  address{
      text-align: center;
  }
footer {
    text-align: right;
}
/*figure box*/
/*M4LO1 Demonstrate the use of figure boxes*/
figure{
    margin: 20px auto 0px;
    width: 25%;
}
figure img {
    display: block;
    width: 300;
    height: 300;  
}
figure figcaption {
    background-color: darkcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    padding: 10px 0;
    text-align: center;
}
/*grid row styles*/
/*M3LO6 Demonstrate formatting a grid*/
div.row::after{
clear: both;
content: "";
display: table;
}

