/*
   Author: Jewelianna Henson
   Date: 05.01.20 
   Filename: layout.css
*/

/*grid row styles*/
/*M3LO6 Demonstrate formatting a grid*/
div.row::after{
clear: both;
content: "";
display: table;
}
body{
    background: linear-gradient(to bottom darkcyan cadetblue paleturquoise);
}